* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/banner.png');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo {
    width: 5vw;
    cursor: pointer;
}

.nav-links li{

    list-style: none;
    display: inline-block;
    margin: 10px 30px;

}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.register-btn {
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;

}

.main-page .active:after{
    background: #fff;
}

.container {
    padding: 0 50px;
}

.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}

.search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: #ff5631;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    outline: none;
}


.search-bar form button img {
    width: 15px;
    margin-top: 7px;
}

.location-imput {
    flex: 1;
}

.search-bar form label{
    font-weight: 600;
}

/*-----------excl--------------*/

.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.exclusives div {
    position: relative;
}

.exclusives div img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.exclusives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.trending {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
}

.trending div img {
    width: 385px;
    border-radius: 10px;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}


.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(img/banner-2.png);
    background-size: cover;
    background-position: left;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn {
    background: #ff5631;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.reviews div img {
    width: 523px;
    border-radius: 10px;
}

.reviews div {
    position: relative;
    text-align: center;
}

.reviews p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}

.start-btn {
    text-decoration: none;
    background: #ff5631;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer {
    margin: 80px 0 10px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p {
    padding-bottom: 15px;
}

.active {
    position: relative;
}

.active:after {
    content:'';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12%;
    border-radius: 2px;

}

nav .fa-bars{
    display: none;
}

/* ------------------ Listings -------------------*/

.navbar-white {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-white .nav-links li a{
    color: black;

}

.navbar-white .register-btn {
    background: #ff5631;
    color: #fff;
}

nav.navbar-white .fa-bars{
    color: #000;
}

.navbar-white .active:after{
    background: #ff5631;
}

.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col {
    flex-basis: 70%;
}

.right-col {
    flex-basis: 25%;
}

.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.house-img {
    flex-basis: 40%;
}

.house-info{
    flex-basis: 58%;
    color: #555;
}

.house-img img{
    width: 100%;
    border-radius: 12px;
}

.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-price{
    text-align: right;
}

.house-price h4{
    font-size: 20px;
}

.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}

.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}

.filter{
    align-items: center;
    color: #555;
    display: flex;
    margin-bottom: 10px;
}

.filter p{
    flex: 1;
}

.filter input{
    margin-right: 15px;
    cursor: pointer;
}

.sidebar-link{
    text-align: right;
    margin: 20px 0;
}

.sidebar-link a{
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination img{
    width: 15px;
    margin: 10px 20px;
}

.right-arrow{
    transform: rotate(180deg);
}

.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .current {
    background: #333;
    color: #fff;
}


/* -------------------Houses--------------*/

.house-details{
    padding: 0 12%;
}

.house-title{
    margin-top: 50px;
}

.house-title h1{
    font-weight: 600;
}

.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house-title span{
    margin: 0 20px;
}

.house-title i{
    color: #ff5631;
    font-size: 15px;
}

.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}

.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1 {
    grid-area: first;
}

.small-details h2{
    font-weight: 500;
}

.small-details h4{
    text-align: right;
    font-size: 22px;
}

.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    padding: 10px 50px;
    justify-content: flex-end;
}

.check-form label{
    display: block;
}

.check-form div {
    padding: 20px;
}

.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}

.check-form button {
    background: #ff5631;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
    margin-left: auto;
}

.guest-field{
    flex: 1;
}

.details-list{
    list-style: none;
    margin: 50px 0;
}

.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 15px;
}

.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}

.welcome-message {
    font-family: Arial, sans-serif;
    font-weight: 500;
    max-width: 800px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgba(249, 249, 249, 0.7);
    background-image: url(img/wmbanner.jpeg);
    background-size: cover;
    background-position: center;
}

.welcome-message h2, .welcome-message h3, .welcome-message p, .welcome-image ol {
    color: #000;
    position: relative;
    z-index: 2;
}

.welcome-message ol{
    padding-left: 20px;
}

.welcome-message li {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
}


.map{
    margin: 50px 0;
}

.map iframe{
    width: 100%;
    margin-bottom: 30px;
}

.map h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.host{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.host img{
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;
}

.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}

.host i{
    color: #ff5631;
}

.host-contact{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5631;
    border-radius: 10px;
}




/*-----------------------smaller-screen --------------------*/

@media only screen and (max-width: 700px) {

    body{
    
    .logo {
        width: 50px;
        position: relative;
        top: 10px;
        left: 10px;
    }

    nav {
        padding: 10px 5%;
        background: #000;
        text-align: left;
    }

    .nav-links {
        display: none;
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
    }

    .nav-links li {
        margin: 10px 0;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .nav-active {
        display: flex;
    }
}


    .active:after {
        content: '';
        background: #ff5631;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        border-radius: 2px;
    }
    

    .hidemenu {
        max-height: 300px;
    }

    .header h1 {
        padding-top: 200px;
        font-size: 7vw;
    }

    .search-bar {
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5%;
        position: relative;
    }

    .search-bar form {
        display: block;
    }

    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .sub-title {
        font-size: 6vw;
    }

    .cta {
        padding: 15% 5%;
    }

    .cta h3 {
        font-size: 7vw;
        line-height: 8vw;
    }

    .cta p {
        font-size: 14px;
    }

    .cta-btn {
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }

    .reviews p {
        font-size: 22px;
    }

    .about-msg {
        font-size: 15px;
    }

    .exclusives, .trending, .reviews {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .exclusives div img, .trending div img, .reviews div img {
        width: 100%;
    }
}
